/* You can add global styles to this file, and also import other style files */

:root {
  --bs-link-color: #212529;
  --bs-link-hover-color: rgba(33, 37, 41, 0.7);
}

[data-theme="dark"] {
  --bs-body-bg: #121212;
  --bs-body-color: #e0e0e0;
  --bs-link-color: #fff;
  --bs-link-color-rgb: 255, 255, 255;
  --bs-link-hover-color: rgb(225, 225, 225);
  --bs-link-hover-color-rgb: 225, 225, 225;
  --bs-navbar-bg: #343a40;
  --bs-navbar-color: #ffffff;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.175);
  --bs-heading-color: #ffffff;
}

a {
  .card {
    transition: 0.2s border-color ease-in;
    .card-body {
      svg {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        opacity: 0.25;
        transition: 0.2s opacity ease-in;
      }
    }
  }
  &:active,
  &:focus,
  &:hover {
    .card {
      border-color: var(--bs-border-color);
      .card-body {
        svg {
          opacity: 0.5;
        }
      }
    }
  }
}

.btn {
  svg {
    margin-left: .5rem;
  }
}