/* You can add global styles to this file, and also import other style files */

:root {
//   --bs-body-bg: #ffffff;
//   --bs-body-color: #212529;
//   --bs-link-color: #007bff;
//   --bs-link-hover-color: #0056b3;
//   --bs-navbar-bg: #ffffff;
//   --bs-navbar-color: #212529;
}

[data-theme="dark"] {
  --bs-body-bg: #121212;
  --bs-body-color: #e0e0e0;
  --bs-link-color: #1e90ff;
  --bs-link-hover-color: #3b8eea;
  --bs-navbar-bg: #343a40;
  --bs-navbar-color: #ffffff;
}
